<ul class="b-top-nav__1level_wrap">
    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
        <a href="home.html"><i class="fa fa-picture-o b-menu-1level-ico"></i>Principal <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
    </li>
	<li class="b-top-nav__1level f-top-nav__1level f-primary-b">
        <a href="shop_listing_col.html"><i class="fa fa-list b-menu-1level-ico"></i>Inmuebles <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
        <div class="b-top-nav__dropdomn">
            <ul class="b-top-nav__2level_wrap">
                <li class="b-top-nav__2level_title f-top-nav__2level_title">Lista de Inmuebles</li>
                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_listing.html"><i class="fa fa-angle-right"></i>Ofertas</a></li>
				<li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_listing.html"><i class="fa fa-angle-right"></i>Inmuebles en Itapúa</a></li>
            </ul>
        </div>
    </li>
    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
        <a href="about_us.html"><i class="fa fa-code b-menu-1level-ico"></i>Nosotros <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
    </li>
    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
        <a href="contact_us.html"><i class="fa fa-cloud-download b-menu-1level-ico"></i>Contacto<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
    </li>
</ul>
